ollama>=0.4.5
opencv-python>=4.10.0.84
ollama>=0.4.5
opencv-python>=4.10.0.84
numpy>=1.26.4
cvzone>=1.6.1
# annotated-types==0.7.0
# anyio==4.8.0
# certifi==2024.12.14
# charset-normalizer==3.4.0
# contourpy==1.3.0

# cycler==0.12.1
# exceptiongroup==1.2.2
# filelock==3.16.1
# flake8==7.1.1
# fonttools==4.55.3
# fsspec==2024.12.0
# h11==0.14.0
# httpcore==1.0.7
# httpx==0.27.2
# idna==3.10
# importlib_resources==6.4.5
# isort==5.13.2
# jedi==0.17.2
# Jinja2==3.1.5
# kiwisolver==1.4.7
# lap==0.5.12
# MarkupSafe==3.0.2
# matplotlib==3.9.4
# mccabe==0.7.0
# mpmath==1.3.0
# networkx==3.2.1
# numpy==1.26.4
# ollama==0.4.5
# opencv-python==4.10.0.84
# packaging==24.2
# pandas==2.2.3
# parso==0.7.1
# pillow==11.0.0
# platformdirs==4.3.6
# pluggy==1.5.0
# psutil==6.1.1
# py-cpuinfo==9.0.0
# pycodestyle==2.12.1
# pydantic==2.10.4
# pydantic_core==2.27.2
# pyflakes==3.2.0
# pyparsing==3.2.0
# python-dateutil==2.9.0.post0
# python-jsonrpc-server==0.4.0
# python-language-server==0.36.2
# pytz==2024.2
# PyYAML==6.0.2
# requests==2.32.3
# scipy==1.13.1
# seaborn==0.13.2
# six==1.17.0
# sniffio==1.3.1
# sympy==1.13.1
# tomli==2.2.1
# torch==2.5.1
# torchvision==0.20.1
# tqdm==4.67.1
# typing_extensions==4.12.2
# tzdata==2024.2
# ujson==5.10.0
# ultralytics==8.3.53
# ultralytics-thop==2.0.13
# urllib3==2.3.0
# yapf==0.43.0
# zipp==3.21.0
